body {
  
  background-color: #00aaff;
  background-color: #004040;
}

body.admin {
	 background-color: white;
}

td.adminNewsTitle {
	font-size: 20px;
	white-space: nowrap;
}

p.red {
	color:rgb(255,0,0);
}